* {
    margin: 0;
    padding: 0;
  }

/*Global width and font*/
html {
    width: clamp(960px, 1440px, 1920px);
    font-family: 'Copperplate', fantasy;
}

/*Create grid for overall page*/
body {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 9fr;
}