* {
    margin: 0;
    padding: 0;
  }

/*Global width and font*/
html {
    width: clamp(960px, 1440px, 1920px);
    font-family: 'Copperplate', fantasy;
}

/*Create grid for overall page*/
body {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 1fr 9fr;
}

.sidebar {
    /*Strech sidebar the height of page grid*/
    grid-row: span 2;

    /*Create vertical grid for sidebar options*/
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 50px;
}