* {
    margin: 0;
    padding: 0;
  }

/*Global width and font*/
html {
    width: clamp(960px, 1440px, 1920px);
    font-family: 'Copperplate', fantasy;
}

/*Create grid for overall page*/
.container {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    grid-template-rows: 1fr 9fr;
}

.sidebar {
    grid-row: span 2;

    /*Create vertical grid for sidebar options*/
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 50px;

    background-color: #5b21b6;
    color: aliceblue;
    font-weight: bold;

    padding-left: 13px;
    padding-top: 13px;
}

.sideTitle {
    font-size: 23px;
}

li {
    list-style: none;
    font-size: 20px;
    margin: 13px 0;
}